/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-leading: 2rem;
  --ifm-list-margin: 2rem;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

[data-theme='dark'] .alert--secondary {
  --ifm-alert-background-color: #333;
}

pre,
code {
  font-variant-ligatures: none;
}

blockquote,
div.alert {
  margin-bottom: var(--ifm-leading);
}

[data-theme='dark'] article strong {
  color: #fab387;
}

[data-theme='light'] article strong {
  color: #fe640b;
}

article strong:not(blockquote strong) {
  text-decoration: underline dashed;
  text-underline-offset: 20%;
}

[data-theme='dark'] blockquote strong {
  color: #aaa;
}

[data-theme='light'] blockquote strong {
  color: #444;
}


.alert a {
  color: var(--ifm-color-primary);
  text-decoration-color: #00000000;
}

.alert a:hover {
  text-decoration-color: var(--ifm-color-primary);
}

article em,
article del {
  color: #7f7f7f
}

[data-theme='dark'] blockquote {
  color: #aaa;
}

[data-theme='light'] blockquote {
  color: #444;
}

article .theme-code-block,
article img {
  border: 2px solid #7f7f7f;
}

article img {
  border-radius: 0.5rem;
}

article hr {
  background-color: #7f7f7f;
}

[data-theme='dark'] code {
  color: #89ecf3;
}

[data-theme='light'] code {
  color: #0096a0;
}

pre {
  background-color: var(--prism-background-color);
}

pre,
code {
  font-family: "JetBrains Mono", "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace;
  font-weight: 500;
}

[data-theme="dark"] pre {
  color: var(--shiki-dark) !important;
}

[data-theme="dark"] pre span {
  color: var(--shiki-dark) !important;
}

code span,
pre span {
  font-style: normal !important;
}